* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 80, 80);
}

.container {
  width: 50%;
  margin: 120px auto;
}
.box {
  width: 100%;
  height: 500px;
  background-color: white;
}

.anotherbox {
  width: 250px;
  height: 250px;
  background-color: darkcyan;
  position: relative;
  top: 120px;
  left: 100px;
}

.anotherbox2 {
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;
  top: 75px;
  left: 70px;
}
